body{
    background-color:#bbf2ee ;
}

.ta1{
    width: 102%;
    background-color: #2fcfc6;
    margin: -1%;
    margin-bottom: 1%;
}

.log_in {  
    color: #2fcfc6;
    background-color: #c7fffc;
    border-radius: 10px;
    margin-top:30%; 
    width: 50%;
    margin-left: 20%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;

}

.logo{
   width: 20%;
}

footer{
    text-align: center;
    background-color: #2fcfc6;
    height: 5vh;
    margin-left: -1%;
    width: 100.5%;
    line-height: 5vh;
    margin-top: 7.2%;
}

a{
    text-decoration: none;
    color: black;
    margin: auto;
    
}

@media screen and (max-width: 768px)
{
    .logo{
        width: 50%;
    }
    .log_in {  
        margin-top: 80%; 
        margin-left: -25%;
        width: 120%;
        font-size: 20px;
    }

    .ta1{
        margin-bottom: 3%;
    }

    
}