.ta2{
    display: flex;
    justify-content: center;
}
.td1{
    display: flex;
    justify-content: space-around;
    margin: 2% 0%;
    width: 80%;
    border: #c7fffc 2px solid;
    background-color: #2fcfc6;
    color: azure;
}
.img{
    width: 200px;
    height: 200px;
    margin: 2% 3%;
    border: #c7fffc 2px solid;
}
.text2{
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #e8fefd;
}
.text3{
    margin: 2% auto;
}
.text4{
    width: 10vh;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    font-weight: bold;
    font-size: 20px;
    margin-left: 2%;
    border:#e8fefd 2px solid;
    color: #e8fefd;
    background-color: #2fcfc6;
}

@media screen and (max-width: 768px)
{

    .ta1{
        margin-bottom: 3%;
    }
    .td1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0%;
        width: 80%;
        border: #c7fffc 2px solid;
        background-color: #2fcfc6;
        color: azure;
    }
    #img{
        margin-top: 10%;
    }
    .img{
        width: 120px;
        height: 120px;
        display: block;
        margin: 10% auto;
    }
    .text2{
        font-size: 40px;
        color: #2fcfc6;
    }
    .text3{
        margin: 0% auto;
        background-color: #e8fefd;
        color:black;
        width: 80%;
    }

    .text4{
        border: #2fcfc6 2px solid;
        color: #2fcfc6;
        background-color: #e8fefd;
        margin-left: 0%;
        font-size: 15px;
    }
    

}