

.td2{
    font-size: 30px;
    padding-left: 2%;
    font-weight: bold;
    padding-bottom: 1%;
    color: #343837;
    padding-top: 1%;
    
}

.td3{
    width: 10%;
    
}


.tr1{
    border:0px;
    background-color: #c7fffc;
}

.back{
    color: #c7fffc;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    background-color: #343837;
    border:3px solid #343837;
    border-radius: 10px;
}

.video1{
    float: left;
    text-align: center;
    width: 40%;
    height: 40vh;
    background-color: #c7fffc;
    margin: 3%;
    color: #343837;
    font-weight: bold;
}
.video2{
    color: #343837;
    float: right;
    text-align: center;
    width: 40%;
    height: 40vh;
    background-color: #c7fffc;
    margin: 3%;
    font-weight: bold;
}

@media screen and (max-width: 768px)
{

    .td3{
        width: 20%;
    }

    .back{
        font-size: 20px;
    }

    .video1{
        float: none;
        text-align: center;
        width: 80%;
        height: 25vh;
        background-color: #c7fffc;
        margin: 3% auto ;
    }
    .video2{
        float: none;
        text-align: center;
        width: 80%;
        height: 25vh;
        background-color: #c7fffc;
        margin: 3% auto ;
    }

}