

.ta3{
    margin: auto;
    width: 50%;
    border-width: 10px;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 2%;
    height: 40vh;
}

.td1{
    text-align: center;

}

.tr1{
    text-align:start;
    height: 10%;    
    font-weight: bolder;
}

.back{
    font-weight: bold;
    font-size: 30px;
    border-radius: 2px;
    
}

.t3{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}


.text1{
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}


.confirm{
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    border: 0ch;
    width: 50%;
    margin-bottom: -20%;
}

@media screen and (max-width: 768px)
{

    .content{
        margin-top: 10%;
    }

    .ta3{
        
        width: 80%;
        height: 50vh;
    }
    

    .back{
        font-size: 20px;
    }

    
}