hr{
    width: 90%;
    border:1px solid #2fcfc6;
}

.ta2{
    margin: auto;
    background-color: #2fcfc6;
    width: 80%;
    border:10px solid #2fcfc6;
    border-radius: 10px;
    margin-bottom: 0%;
    margin-top: 3%;
}

.ta3{
    margin: auto;
    background-color: #c7fffc;
    width: 50%;
    border:10px solid #2fcfc6;
    border-radius: 15px;
    margin-bottom: 2%;
    height: 40vh;
}

.td1{
    text-align: center;
    width: 50%;
    margin-top: 1%;
}

.div1{
    margin:auto;
    text-align: center;
    background-color: #c7fffc;
    width: 75%;
    border-radius: 5px;
    color: #2fcfc6;
    font-weight: bold;
    font-size: 18px;
    height: 30vh;
    margin-top: 1%;
}

.div2{
    font-size: 14px;
    color: #2fcfc6;
}

.p1{
    margin-left: 3%;
    font-size: 12px;
    text-align: left;
}

.p2{
    margin-left: 3%;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.tr1{
    text-align:start;
    height: 10%;    
    font-weight: bolder;
}

.back{
    color: #c7fffc;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    
}

.next{
    font-size: 18;
    color: #c7fffc;
    font-weight: bolder;
    background-color: #2fcfc6;
    border-radius: 10px;
    padding: 5% 15%;
}

.confirm{
    font-size: 18px;
    background-color: #2fcfc6;
    border-radius: 10px;
    color: #c7fffc;
    font-weight: bold;
    border: 0ch;
    width: 100%;
    margin-bottom: -20%;
}


@media screen and (max-width: 768px)
{

    .ta2{
        margin-top: 1%;
        height: 70vh;
    }

    .ta3{       
        width: 80%;
        height: 40vh;
    }

    .back{
        font-size: 20px;
    }

    footer{
        position: absolute;
        right: 0px;
        bottom: 0px;
        margin-top: 7.2%;
    }
    
}