<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>member</title>
    <link href="css/add.css" rel="stylesheet">
    <link href="css/color.css" rel="stylesheet">
</head>

<body>

    <table class="ta1">
        <tr>
            <td><img class="logo" src="image/logo.jpg"></td>
            <td><a href="{% url 'color' %}">
                    <div class="log_in">會員</div>
                </a></td>
        </tr>
    </table>

    <div class="ta2">
        <div class="td1">
            <div class="text3" id="img">
                <div class="text4">
                    <a href="{% url 'index' %}">
                        返回</a>
                </div>
                <div class="text2">
                   主題選擇
                </div>
                <div class="btn">
                    <button class="btn2">
                    <div class="theme">
                        <div class="A"></div>
                        <div class="B"></div>
                    </div>
                </button>
                <button class="btn2">
                    <div class="theme">
                        <div class="A"></div>
                        <div class="B"></div>
                    </div>
                </button>
                <button class="btn2">
                    <div class="theme">
                        <div class="A"></div>
                        <div class="B"></div>
                    </div>
                </button>
                <button class="btn2">
                    <div class="theme">
                        <div class="A"></div>
                        <div class="B"></div>
                    </div>
                </button>
                    
                    
                </div>
            </div>
        </div>
    </div>


</body>
<footer>
    Copyright@2022 By AIwash Rights Reseved
</footer>

</html>