<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title></title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>
<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>

</body>
<footer class="bglight fontdark">
    Copyright@2022 By AIwash Rights Reseved
</footer>

</html>