<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>member</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/ncolor.css" %}" rel="stylesheet">

    
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>
<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    
    <div class="content bglight bdark">
        <div class="td1 blight fontdark">
            <div class="text3" id="img">
                <div class="text4 blight fontlight bgdark">
                    <a href="{% url 'index' %}" class="fontlight">
                返回</a>
                </div>
            </div>
            <form>
                <table class="table1">
                    <tr class="text2 fontdark">
                        <td class="bottom">主題選擇</td>
                    </tr>
                    {% if howmuch >= 0 %}
                    <tr class="text2 fontdark">
                        <td class="btn">
                            
                            <a href="/colorchange?color=0">
                                <div class="theme bdark">
                                    <div class="A bgdark"></div>
                                    <div class="B bglight"></div>
                                </div>
                            </a>
                        </td>
                    </tr>
                    <tr class="c fontdark">
                        <td class="bottom">經典黑綠</td>
                    </tr>
                    {% endif %} 
                    {% if howmuch > 1 %}
                    <tr class="text2 fontdark">
                        <td class="btn">
                           
                            <a href="/colorchange?color=1">
                                <div class="theme bdark">
                                    <div class="A bgdark"></div>
                                    <div class="B bglight"></div>
                                </div></a>
                            </button>
                        </td>
                    </tr>
                    <tr class="c fontdark">
                        <td class="bottom">超跑情人夢</td>
                    </tr>
                    {% endif %} 
                    {% if howmuch > 5 %}
                    <tr class="text2 fontdark">
                        <td class="btn">
                            
                            <a href="/colorchange?color=2">
                                <div class="theme bdark">
                                    <div class="A bgdark"></div>
                                    <div class="B bglight"></div>
                                </div>
                                </a>
                            </button>
                        </td>
                    </tr>
                    <tr class="c fontdark">
                        <td class=" bottom">溫暖橘白</td>
                    </tr>
                    {% endif %} 
                </table>
            </form>
        </div>
    </div>


</body>
<footer class="bglight fontdark">
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>