<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>complain</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/ncomplain.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>
<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    
    <div class="content blight bglight">
        <div class="td1 bglight">
            <div class="text4 bgdark fontlight">
                <a href="{% url 'member' %}">返回</a>
            </div>
            {% for i in prob_list %}
            <div class="text1 bgdark fontlight">
                    <table class="ta3">
                        <tr>
                            <td class="td2">回饋單編號</td>
                            <td class="text5">{{i.PID}}</td>
                        </tr>
                        
                        <tr>
                            <td class="td2">類型</td>
                            <td class="text5">{{i.PTYPE}}</td>
                        </tr>
                        
                        <tr>
                            <td class="td2">訂單</td>
                            <td class="text5">{{i.ORDID}}</td>
                        </tr>
                    
                        <tr>
                            <td class="td2">時間</br></td>
                            <td class="text5">{{i.PTIME}}</td>
                        </tr>
                        
                        <tr>
                            <td class="td2">內容</br></td>
                            <td class="text5">{{i.PDISC}}</td>
                        </tr>
                       
                        <tr>
                            <td class="td2">客服回覆</br></td>
                            <td class="text5">{{i.PRE}}</td>
                        </tr>
                    
                        </table>
            </div>
            {% endfor %}
            <div class="text3">
            </div>
        </div>
    </div>


</body>
<footer class="bglight fontdark">
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>