<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>FAQ</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nfaq.css" %}" rel="stylesheet">
</head>

<body>
    <table class="manu">
        <tr>
            <td><img class="logo" src="{% static "images/logo.jpg" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem">會員</div></a></td>
        </tr>
    </table>
    
    <div class="ta2">
        <div class="td1">
            <div class="text4">
                <a href="{% url 'index' %}"><返回</a>
            </div>
            <div class="text3">
                FAQ
            </div>
            <div class="text1">
                <table class="ta3">
                <tr>
                    <td class="td2">Q1</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >　　　</br>　　</div></td>
                </tr>
                <tr>
                    <td class="td2">Q2</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >　　　</br>　　</div></td>
                </tr>
                <tr>
                    <td class="td2">Q3</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >　　　</br>　　</div></td>
                </tr>
                <tr>
                    <td class="td2">Q4</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >　　　</br>　　</div></td>
                </tr>
                <tr>
                    <td class="td2">洗衣建議
                    </td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >　　　</br>　　</div></td>
                </tr>
                <tr>
                    <td class="td2"><img src="{% static "images/tag.jpg" %}" class="td3"></td>
                </tr>
                </table>
            </div>
            <div class="text3">
            </div>
        </div>
    </div>


</body>
<footer >
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>