<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>FAQ</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nfaq.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>
<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    
    <div class="content blight bglight">
        <div class="td1 bgdark fontlight">
            <div class="text4 fontlight">
                <a href="{% url 'index' %}">返回</a>
            </div>
            <div class="text3">
                FAQ
            </div>
            <div class="text1 bdark bglight fontdark">
                <table class="ta3">
                <tr>
                    <td class="td2">Q1</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >
                        我要如何送洗衣物？(到府)</br>
                        1.潔衣家官網： 官網首頁->到府收送->我要洗衣 ，輸入送洗衣物明細，填寫寄/取件資訊。</br>
                        2.55688APP：下載55688APP(台灣大車隊)，點選首頁【潔衣家】圖示連結『洗衣大優惠』。</br>
                        3 .電話送洗：由客服專人為您線上填寫送洗單。</br>
                        客服專線：(02)2682-5005</br>
                        服務時間：09:00~21:00</br>
                    </div></td>
                </tr>
                <tr>
                    <td class="td2">Q2</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >
                        我只有1件衣物要洗，可以只洗1件嗎？</br>
當然可以，但由於潔衣家每袋清洗最低金額需滿180元，消費未滿180元，則以180元計價收費，建議您可多清洗幾件。
                    </div></td>
                </tr>
                <tr>
                    <td class="td2">Q3</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >
                        要如何包裝送洗衣物?(超商)</br>
                        1.包裝大小符合""超商店到店規範""的紙箱或袋子即可送洗。(長寬高不超過105cm，最長邊< 45cm)</br>
                        2.購買官網的環保洗衣袋，可重覆使用，且享有優惠(響應環保，大家衣起來)</br>
                        提醒您紙箱 /袋子務必密封，避免您送洗的衣物在運送途中產生不可抗拒的因素，導致衣物受損或遺失。</br>
                    </div></td>
                </tr>
                <tr>
                    <td class="td2">Q4</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >
                        我有9件衣物要洗，可以一起放在1個送洗包裝內嗎？</br>
                        為確保送洗衣物包裝後，可以完全密封，建議一個袋/箱裝3-4件(若品項為長外套時，不超過3件，小衣類不超過5件為佳)
                    </div></td>
                </tr>
                </table>
            </div>
        </div>
    </div>


</body>
<footer class="bglight fontdark">
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>