<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>FAQ</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nfaq.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>
<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    
    <div class="content blight bglight">
        <div class="td1 bgdark fontlight">
            <div class="text4 fontlight">
                <a href="{% url 'index' %}">返回</a>
            </div>
            <div class="text3">
                FAQ
            </div>
            <div class="text1 bdark bglight fontdark">
                <table class="ta3">
                <tr>
                    <td class="td2">使用者介面</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >
                        在AI智慧喜的使用者介面中會有一個儲存你固定洗衣習慣的介面、馬上開始預約洗衣，還有查詢訂單功能，固定使用模式可以記錄你的使用習慣以方便每次預約。
馬上預約洗衣可以使用先前儲存過的模式直接套用，或者是想要自行選擇洗衣的方式。我們也有提供外送的服務，透過與外送熊貓合作，實現不出門也可以洗衣的模式。
                    </div></td>
                </tr>
                <tr>
                    <td class="td2">到店後的流程</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >
                        衣服送到店裡之後，會讓洗衣機照著先前設定好的模式去洗你的衣服，衣服洗完之後，會給你一組取貨的QRCODE，在取貨前須先付款，然後再到櫃子裡取回您的衣服。
                    </div></td>
                </tr>
                <tr>
                    <td class="td2">查詢訂單</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >
                        在查詢訂單介面可以看到妳的訂單狀態，包括你的訂單編號、衣服重量、付款狀態、取貨時間，以及獲得的碳治郎點數，還有提供了線上客服給有問題的顧客。
                    </div></td>
                </tr>
                <tr>
                    <td class="td2">洗衣數量</td>
                </tr>
                <tr>
                    <td class="td2"><div class="text1 td21" >
                        我有9件衣物要洗，可以一起放在1個送洗包裝內嗎？</br>
                        為確保送洗衣物包裝後，可以完全密封，建議一個袋/箱裝3-4件(若品項為長外套時，不超過3件，小衣類不超過5件為佳)
                    </div></td>
                </tr>
                </table>
            </div>
        </div>
    </div>


</body>
<footer class="bglight fontdark">
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>