<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>friend</title>
    <link href="{% static "css/add.css" %}" rel="stylesheet">
    <link href="{% static "css/friend.css" %}" rel="stylesheet">
</head>

<body>

    <table class="ta1">
        <tr>
            <td><img class ="logo" src="{% static "images/logo.jpg" %}"></td>
            <td><a href="{% url 'member' %}"><div class ="log_in">會員</div></a></td>
               
        </tr>
        </table>
    
    <div class="ta2">
        <div class="td1">
            <div class="text3" id="img">
                <div class="text4">
                    <a href="{% url 'index' %}">
                返回</a>
                </div>
                <div class="text2">
                    友站連結
                </div>
                <a href="https://www1.cycu.edu.tw/"><img class="img" src="{% static "images/CYCU.png" %}"></a>
                <a href="https://im.cycu.edu.tw/"><img class="img" src="{% static "images/IM.jpg" %}"></a>
                <a href="https://www.bot.com.tw/Pages/default.aspx"><img class="img" src="{% static "images/bank.png" %}"></a>
                <a href="https://www.fsc.gov.tw/ch/index.jsp"><img class="img" src="{% static "images/FSC.png" %}"></a>
                <a href="https://www.foodpanda.com.tw/"><img class="img" src="{% static "images/foodp.png" %}"></a>
                <a href="https://www.ubereats.com/tw"><img class="img" src="{% static "images/ubere.jpg" %}"></a>
            </div>
        </div>
    </div>


</body>
<footer >
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>