<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>friend</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nfriend.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>

<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    <div class="content blight bglight">
        <div class="td1 bgdark fontlight">
            <div class="text3" id="img">
                <div class="text4 fontlight bgdark">
                    <a href="{% url 'index' %}">
                <返回</a>
                </div>
                <div class="text2 fontlight">
                    友站連結
                </div>
                <a href="https://www1.cycu.edu.tw/"><img class="img" src="{% static "images/CYCU.png" %}"></a>
                <a href="https://im.cycu.edu.tw/"><img class="img" src="{% static "images/IM.jpg" %}"></a>
                <a href="https://www.bot.com.tw/Pages/default.aspx"><img class="img" src="{% static "images/bank.png" %}"></a>
                <a href="https://www.fsc.gov.tw/ch/index.jsp"><img class="img" src="{% static "images/FSC.png" %}"></a>
                <a href="https://www.foodpanda.com.tw/"><img class="img" src="{% static "images/foodp.png" %}"></a>
                <a href="https://www.ubereats.com/tw"><img class="img" src="{% static "images/ubere.jpg" %}"></a>
            </div>
        </div>
    </div>


</body>
<footer class="bglight fontdark">
    <div class=" ml6 ">
    <span class="text-wrapper">
        <span class="letters">Copyright@2022 By AIwash Rights Reseved</span>
      </span></div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script>


var textWrapper = document.querySelector('.ml6 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml6 .letter',
    translateY: ["1.1em", 0],
    translateZ: 0,
    duration: 750,
    delay: (el, i) => 50 * i
  }).add({
    targets: '.ml6',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 3000
  });
</script>
</html>