<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>index</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/index.css" %}" rel="stylesheet">
    <link href="{% static "css/fadelogo.css" %}" rel="stylesheet">
</head>

<body>
    <table class="manu">
        <tr>
            <td><img class="logo" src="{% static "images/logo.jpg" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem">會員</div></a></td>
        </tr>
    </table>

    <table class="ta2">
        <tr>
            <td class="td1"><div  class="text1">最新資訊</div></td>
            <td class="text2">內容</td>
            
        </tr>
    </table>

    <div class = "new"><a href="{% url 'teach' %}"><img class = "teaching" src="{% static "images/1.png" %}"></a></div>
    <div class="btn"></div>
       <div class="ta3">
            <a href="{% url 'wash1' %}"><div  class="text3" id="small">開始洗衣</div></a>    
            <a href="{% url 'map' %}"><div  class="text3">商店地圖</div></a>              
            <a href="{% url 'feedback' %}"><div  class="text3">問題回饋</div></a>                
            <a href="{% url 'faq' %}"><div  class="text3">常見問題</div></a>                
            <a href="{% url 'friend' %}"><div  class="text3">友站連結</div></a>                
        </div>       


</body>
<footer >
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>