<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>index</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/startbtn.css" %}" rel="stylesheet">
</head>

<body>
        <div>{{r1_r}}</div>
        <form action="{{ url1 }}" method="GET">
            <div class="start">
                <input type="input" name="Rphone" value="{{fknum}}" readOnly="true" >
                <a href="{{ firstLogin }}">點擊取得驗證碼</a>
                <input type="input" name="check">
                <button type="submit"></button>
            </div>
        <form>


</body>
<footer >
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>