<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>member</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nmember.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>
<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    
    <div class="content blight bglight">
        <div class="td1 blight bglight">
            <div class="text3 bgdark" id="img">
                <div class="text4 blight bgdark fontlight">
                    <a href="{% url 'index' %}">
                返回</a>
                </div>
                {% comment %} {% static "images/logo.jpg" %} {% endcomment %}
                <img class="img" src="{{pic}}">
            </div>
            <div class="text1 bgdark fontlight">
                <p class="m">您好，尊貴的會員</p>
                <p class="m" id="n">{{nickname}}</p>
            </div>
            <div class="btn">
                <div class="text2 blight bgdark fontlight"><a href="{% url 'memSet' %}">
                    個人設定</a>
                </div>
                <div class="text2 blight bgdark fontlight"><a href="{% url 'order' %}">
                    訂單查詢</a>
                </div>
                <div class="text2 blight bgdark fontlight"><a href="{% url 'complain' %}">
                    客服紀錄</a>
                </div>
                <div class="text2 blight bgdark fontlight"><a href="{% url 'color' %}">
                    主題選擇</a>
                </div>
            </div>
        </div>
    </div>


</body>
<footer class="bglight fontdark">
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>