<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>memberset</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nmemberset.css" %}" rel="stylesheet">
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
</head>
<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    
    <div class="content">
        <div class="td1">
            <div class="text4">
                <a href="{% url 'member' %}">返回</a>
            </div>
            <div class="text1">
                <form action="/changeinfo">
                <table class="ta3">
                <tr>
                    <td class="td2">電話號碼：<input name="phone" type="text" value="{{memphone}}">
                        <div class="text4">
                            <a href="">驗證</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td2">地址：<input name="addr" value="{{ADDR}}" type="text"></td>
                </tr>
                <tr>
                    <td class="td2 td21">信用卡卡號：<input name="card" value="{{CARD}}" type="text">
                    </td>
                </tr>
                </table>
            </div>
            <div class="btn">
                <div class="text2" >
                    <input type="submit" value="確定更改" class="text3">
                </div>
                <div class="text2">
                    <input type="reset" value="重新填寫" class="text3">
                </div>
            </div></form>
        </div>
    </div>


</body>
<footer >
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>