<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>more</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nmore.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>
<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    
    <div class="content blight bglight">
        <div class="td1 bgdark fontlight">
            <div class="text4 bgdark fontlight blight">
                <a href="{% url 'member' %}">返回</a>
            </div>
            <div class="text1 bgdark fontlight">
                <form>
                    
                <table class="ta3 fontlight">
                <tr>
                    <td class="td2 td22" rowspan="5">QRcode產生中</td>
                    <td class="td2">訂單編號</td>
                </tr>
                <tr>
                    <td class="td2">{{ORDID}}</td>
                </tr>
                <tr>
                    <td class="td2">成立時間</td>
                </tr>
                <tr>
                    <td class="td2">{{CDATE}}</td>
                </tr>
                <tr>
                    <td class="td2">袋數：{{BAGNUM}}</td>
                </tr>
                <tr>
                    <td class="td2 td22">金額：{{AMOUNT}}</td>
                    <td class="td2">獲得點數：{{GPOINT}}</td>
                </tr>
                <tr>
                    <td class="td2 td22">{{WMODE}}</td>
                    <td class="td2">{{LMODE}}</td>
                </tr>
                <tr>
                    <td class="td2 td22">{{FMODE}}</td>
                    <td class="td2">花費時長：{{TIME}}</td>
                </tr>
                <tr>
                    <td class="td2" colspan="2">處理狀態</td>
                </tr>
                <tr>
                    <td class="td2" colspan="2">
                        <input type="radio" name="wash" checked="checked" disabled>處理中
                        <input type="radio" name="wash" disabled>可取貨
                        <input type="radio" name="wash" disabled>已完成
                    </td>
                </tr>
                <tr>
                    <td class="td2 td21 td22">處理中</td>
                    <td class="td2 td21"><a href="{% url 'showfeedback' %}?ordernum={{ORDID}}">滿意度回饋</a></td>
                </tr>
                </table></form>
            </div>
            
            
            <div class="text3">
            </div>
        </div>
    </div>


</body>
<footer class="bglight fontdark">
    <div class=" ml6 ">
    <span class="text-wrapper">
        <span class="letters">Copyright@2022 By AIwash Rights Reseved</span>
      </span></div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script>


var textWrapper = document.querySelector('.ml6 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml6 .letter',
    translateY: ["1.1em", 0],
    translateZ: 0,
    duration: 750,
    delay: (el, i) => 50 * i
  }).add({
    targets: '.ml6',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 3000
  });
</script>
</html>