<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>index</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nstartbtn.css" %}" rel="stylesheet">
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
</head>

<body>
    {%  csrf_token  %}
        <div class="start">
            <button><a href="{{ firstLogin }}"><img src="{% static "images/start.jpg" %}" class="startbtn"></a></button>
        </div>




</body>
<footer class="bglight fontdark">
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>