<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>teaching</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nteaching.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>
<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>

    <table RULES=NONE class="content blight bglight">
        <tr class="tr1 bglight">
            <td class="td2 fontdark">教學</td>
            <td class="td3"><a href="{% url 'index' %}"><div class="back bgdark bdark fontlight">返回</div></a></td>
        </tr>
        <tr  class="tr2">
           <td colspan="2"  class="tr2">
            <div class="video1">基本教學</div>
            </td> </tr>
            <tr  class="tr2">
              <td colspan="2"  class="tr2">
            <iframe width="300" height="200" src="https://www.youtube.com/embed/XWNkC4Z60B4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </td> </tr>
          <tr  class="tr2">
            <td colspan="2"  class="tr2">
            <div class="video2">洗滌建議
            <img src="{% static "images/wash.jpg" %}" class="washimg">
          </div> </td> 
        </tr>
    </table>


</body>
<footer class="bglight fontdark">
    <div class=" ml6 ">
    <span class="text-wrapper">
        <span class="letters">Copyright@2022 By AIwash Rights Reseved</span>
      </span></div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script>


var textWrapper = document.querySelector('.ml6 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml6 .letter',
    translateY: ["1.1em", 0],
    translateZ: 0,
    duration: 750,
    delay: (el, i) => 50 * i
  }).add({
    targets: '.ml6',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 3000
  });
</script>
</html>