<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>wash</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nwash2.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>

<script>
    
</script>

<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    <form  method="post" target="_self" action="{% url 'wash3' %}">
        {% csrf_token %}
    <table class="content blight bglight" >
        <tr class="tr1">
            <td class="td3"><div><a href="{% url 'index' %}"  class="back fontdark"><返回首頁 </a></div></td>
        </tr>
        <tr>
            <td>
                <div class="div1 bgdark fontlight">
                    衣服袋數
                    <input type="number" name="bagamount" class="num" required="required" min="1" value="1" id="bagamount" onkeydown="return false">
                    <div class="add1 fontlight"  onclick="bagamount1()">+</div>
                    <div class="add2 fontlight"  onclick="bagamount2()">-</div>
                </div>
                
            </td>
        </tr>
        <tr>
            <td>               
                    <table class="ta3 bgdark" >
                        <tr class="tr1">
                            <td>
                                <div id="wash1" onclick="listBtn1()" class="t1 fontlight">建議</div>
                            </td>
                            <td>
                                <div id="wash2" onclick="listBtn2()" class="t1 fontdark bglight">偏好</div>
                            </td>
                            <td>
                                <div id="wash3" onclick="listBtn3()" class="t1 fontdark bglight">自訂</div>
                            </td>
                        </tr>
                        <tr class="tr2">
                            <td  colspan="3">
                                <div id="w1" style="display:block;" class="t3 fontlight">
                                    洗滌
                                    <select name="washing" style="width: 50%;" id="washing1" onclick="wash1()" >
                                        <option value="標準">標準</option>
                                        
                                    </select><br>
                                    
                                    <div class="div2"  style="width: 80%;">
                                        <div id="wash_1">30 分鐘 0 元 5 點數 1 碳排</div>      
                                    </div><br>

                                    乾燥
                                    <select name="drying" style="width: 50%;" id="drying1" onclick="dry1()">
                                        <option value="日曬">日曬</option>
                                        
                                    </select><br>

                                    <div class="div2"  style="width: 100%; " >
                                        <div id="dry_1">1440 分鐘 0 元 5 點數  0 碳排</div>                                 
                                    </div><br>

                                    摺衣
                                    <select name="store" style="width: 50%;" id="store1" onclick="sto1()">
                                        <option value="不折">不折</option>
                                        
                                    </select><br>

                                    <div class="div2"  style="width: 80%;" >
                                        <div id="store_1">0 分鐘 0 元 5 點數 0 碳排</div>                                
                                    </div><br>
                                   
                                    <div class="">
                                        特殊衣物
                                        <select name="special" style="width: 40%;" id="special1">
                                            <option value="無">無</option>
                                            <option value="毛毯類">毛毯類</option>
                                            <option value="皮革類" >皮革類</option>
                                        </select>
                                    </div><br>

                                    <div id="total1" class="total">
                                    </div>

                                </div>
                                <div id="w2" style="display:none;" class="t3 fontlight">
                                    洗滌
                                    <select name="washing" style="width: 50%;" id="washing2" onclick="wash2()">
                                        <option value="{{WMODE}}">{{WMODE}}</option>
                                    </select><br>
                                    
                                    <div class="div2"  style="width: 80%;">
                                        <div id="wash_2">30 分鐘 0 元 5 點數 1 碳排</div>                                
                                    </div><br>

                                    乾燥
                                    <select name="drying" style="width: 50%;" id="drying2" onclick="dry2()">
                                        <option value="{{LMODE}}">{{LMODE}}</option>
                                    </select><br>

                                    <div class="div2"  style="width: 80%;">
                                        <div id="dry_2">1440 分鐘 0 元 5 點數  0 碳排</div>                                
                                    </div><br>

                                    摺衣
                                    <select name="store" style="width: 50%;" id="store2" onclick="sto2()">
                                        <option value="{{FMODE}}">{{FMODE}}</option>
                                    </select><br>

                                    <div class="div2"  style="width: 80%;" >
                                        <div id="store_2">0 分鐘 0 元 5 點數 0 碳排</div>                                
                                    </div><br>

                                    <div class="">
                                        特殊衣物
                                        <select name="special" style="width: 40%;" id="special2">
                                            <option value="無">無</option>
                                            <option value="毛毯類">毛毯類</option>
                                            <option value="皮革類" >皮革類</option>
                                        </select>
                                    </div><br>
                                    <div id="total2" class="total">
                                    </div>

                                </div>
                                
                                <div id="w3" style="display:none;" class="t3 fontlight">
                                    洗滌
                                    <select name="washing" style="width: 50%;" id="washing3" onclick="wash3()">
                                        <option value="標準">標準</option>
                                        <option value="精緻洗" >精緻洗</option>
                                        <option value="柔洗">柔洗</option>
                                        <option value="快洗">快洗</option>
                                    </select><br>
                                    
                                    <div class="div2"  style="width: 80%;">
                                        <div id="wash_3">30 分鐘 0 元 5 點數 1 碳排</div>                                
                                    </div><br>

                                    乾燥
                                    <select name="drying" style="width: 50%;" id="drying3" onclick="dry3()">
                                        <option value="日曬">日曬</option>
                                        <option value="低溫烘乾" >低溫烘乾</option>
                                        <option value="中溫烘乾">中溫烘乾</option>
                                        <option value="高溫烘乾">高溫烘乾</option>
                                    </select><br>

                                    <div class="div2"  style="width: 80%;" >
                                        <div id="dry_3">1440 分鐘 0 元 5 點數  0 碳排</div>                                
                                    </div><br>

                                    摺衣
                                    <select name="store" style="width: 50%;" id="store3" onclick="sto3()">
                                        <option value="不折">不折</option>
                                        <option value="機器人" >機器人(20MIN)</option>
                                    </select><br>
                                    
                                    <div class="div2"  style="width: 80%;" >
                                        <div id="store_3">0 分鐘 0 元 5 點數 0 碳排</div>                                
                                    </div><br>

                                    <div class="">
                                        特殊衣物
                                        <select name="special" style="width: 40%;" id="special3">
                                            <option value="無">無</option>
                                            <option value="毛毯類">毛毯類</option>
                                            <option value="皮革類" >皮革類</option>
                                        </select>
                                    </div>
                                    <input type="checkbox" name="preset" value="preset">設為預設

                                    <div id="total3" class="total">
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="td1"   colspan="3">
                                <input type="button" class="next bglight fontdark" onclick="history.back();" value="上一步"> </a>
                                <input type="submit" class="confirm bglight fontdark" value="下一步">
                            </td>
                        </tr>
                   
                    </table>               
            </td>
        </tr>
        
    </table>
</form>
</body>
<script>
    var washing1 = document.getElementById("washing1");
    var washing2 = document.getElementById("washing2");
    var washing3 = document.getElementById("washing3");
    var drying1 = document.getElementById("drying1");
    var drying2 = document.getElementById("drying2");
    var drying3 = document.getElementById("drying3");
    var store1 = document.getElementById("store1");
    var store2 = document.getElementById("store2");
    var store3 = document.getElementById("store3");
    var special1 = document.getElementById("special1");
    var special2 = document.getElementById("special2");
    var special3 = document.getElementById("special3");
    var point1_1 = 5 , point1_2 = 5 , point1_3 = 5 , point2_1 = 0 , point2_2 = 0 , point2_3 = 0 , point3_1 = 0 , point3_2 = 0 , point3_3 = 0;
    var price1_1 = 0 , price1_2 = 0 , price1_3 = 0 , price2_1 = 0 , price2_2 = 0 , price2_3 = 0 , price3_1 = 0 , price3_2 = 0 , price3_3 = 0;
    var tax1_1 = 1 , tax1_2 = 0 , tax1_3 = 0 , tax2_1 = 1 , tax2_2 = 0 , tax2_3 = 0 , tax3_1 = 1 , tax3_2 = 0 , tax3_3 = 0 ;
    var bag_1 = 1;

    document.getElementById("total1").innerHTML = "&emsp;總金額：" + ((price1_1 + price1_2 + price1_3 + bag_1*50)+(tax1_1 + tax1_2 + tax1_3)*3) + "(含碳稅：" + (tax1_1 + tax1_2 + tax1_3)*3 + ") 總點數：" + (point1_1 + point1_2 + point1_3 + 20*bag_1);
    document.getElementById("total2").innerHTML = "&emsp;總金額：" + ((price2_1 + price2_2 + price2_3 + bag_1*50)+(tax2_1 + tax2_2 + tax2_3)*3) + "(含碳稅：" + (tax2_1 + tax2_2 + tax2_3)*3 + ") 總點數：" + (point2_1 + point2_2 + point2_3 + 20*bag_1);
    document.getElementById("total3").innerHTML = "&emsp;總金額：" + ((price3_1 + price3_2 + price3_3 + bag_1*50)+(tax3_1 + tax3_2 + tax3_3)*3) + "(含碳稅：" + (tax3_1 + tax3_2 + tax3_3)*3 + ") 總點數：" + (point3_1 + point3_2 + point3_3 + 20*bag_1);

    washing2.setAttribute("disabled", "disabled");
    washing3.setAttribute("disabled", "disabled");
    drying2.setAttribute("disabled", "disabled");
    drying3.setAttribute("disabled", "disabled");
    store2.setAttribute("disabled", "disabled");
    store3.setAttribute("disabled", "disabled");
    special2.setAttribute("disabled", "disabled");
    special3.setAttribute("disabled", "disabled");

    function listBtn1() {
        var wash1 = document.getElementById('wash1');
        var w1 = document.getElementById('w1');
        var wash2 = document.getElementById('wash2');
        var w2 = document.getElementById('w2');
        var wash3 = document.getElementById('wash3');
        var w3 = document.getElementById('w3');
        if (w1.style.display === 'none') {
            w1.style.display = 'block';
            w2.style.display = 'none';
            w3.style.display = 'none';
            wash1.style.color = "#c7fffc";
            wash2.style.color = "#343837";
            wash3.style.color = "#343837";
            wash1.style.backgroundColor = "#343837";
            wash2.style.backgroundColor = "#c7fffc";
            wash3.style.backgroundColor = "#c7fffc";

            document.getElementById("washing1").removeAttribute("disabled");
            document.getElementById("washing2").setAttribute("disabled", "disabled");
            document.getElementById("washing3").setAttribute("disabled", "disabled");
            document.getElementById("drying1").removeAttribute("disabled");
            document.getElementById("drying2").setAttribute("disabled", "disabled");
            document.getElementById("drying3").setAttribute("disabled", "disabled");
            document.getElementById("store1").removeAttribute("disabled");
            document.getElementById("store2").setAttribute("disabled", "disabled");
            document.getElementById("store3").setAttribute("disabled", "disabled");
            document.getElementById("special1").removeAttribute("disabled");
            document.getElementById("special2").setAttribute("disabled", "disabled");
            document.getElementById("special3").setAttribute("disabled", "disabled");

        }
    }
    function listBtn2() {
        var wash1 = document.getElementById('wash1');
        var w1 = document.getElementById('w1');
        var wash2 = document.getElementById('wash2');
        var w2 = document.getElementById('w2');
        var wash3 = document.getElementById('wash3');
        var w3 = document.getElementById('w3');
        if (w2.style.display === 'none') {
            w1.style.display = 'none';
            w2.style.display = 'block';
            w3.style.display = 'none';
            wash1.style.color = "#343837";
            wash2.style.color = "#c7fffc";
            wash3.style.color = "#343837";
            wash1.style.backgroundColor = "#c7fffc";
            wash2.style.backgroundColor = "#343837";
            wash3.style.backgroundColor = "#c7fffc";

            document.getElementById("washing2").removeAttribute("disabled");
            document.getElementById("washing1").setAttribute("disabled", "disabled");
            document.getElementById("washing3").setAttribute("disabled", "disabled");
            document.getElementById("drying2").removeAttribute("disabled");
            document.getElementById("drying1").setAttribute("disabled", "disabled");
            document.getElementById("drying3").setAttribute("disabled", "disabled");
            document.getElementById("store2").removeAttribute("disabled");
            document.getElementById("store1").setAttribute("disabled", "disabled");
            document.getElementById("store3").setAttribute("disabled", "disabled");
            document.getElementById("special2").removeAttribute("disabled");
            document.getElementById("special1").setAttribute("disabled", "disabled");
            document.getElementById("special3").setAttribute("disabled", "disabled");
        } 
    }
    function listBtn3() {
        var wash1 = document.getElementById('wash1');
        var w1 = document.getElementById('w1');
        var wash2 = document.getElementById('wash2');
        var w2 = document.getElementById('w2');
        var wash3 = document.getElementById('wash3');
        var w3 = document.getElementById('w3');
        if (w3.style.display === 'none') {
            w1.style.display = 'none';
            w2.style.display = 'none';
            w3.style.display = 'block';
            wash1.style.color = "#343837";
            wash2.style.color = "#343837";
            wash3.style.color = "#c7fffc";
            wash1.style.backgroundColor = "#c7fffc";
            wash2.style.backgroundColor = "#c7fffc";
            wash3.style.backgroundColor = "#343837";

            document.getElementById("washing3").removeAttribute("disabled");
            document.getElementById("washing2").setAttribute("disabled", "disabled");
            document.getElementById("washing1").setAttribute("disabled", "disabled");
            document.getElementById("drying3").removeAttribute("disabled");
            document.getElementById("drying2").setAttribute("disabled", "disabled");
            document.getElementById("drying1").setAttribute("disabled", "disabled");
            document.getElementById("store3").removeAttribute("disabled");
            document.getElementById("store2").setAttribute("disabled", "disabled");
            document.getElementById("store1").setAttribute("disabled", "disabled");
            document.getElementById("special3").removeAttribute("disabled");
            document.getElementById("special2").setAttribute("disabled", "disabled");
            document.getElementById("special1").setAttribute("disabled", "disabled");
        } 
    }

    function wash1(){
                if(washing1.value =="標準"){
                    document.getElementById("wash_1").innerHTML = "30 分鐘 0 元 5 點數 1 碳排";
                    price1_1 = 0;
                    point1_1 = 5;
                    tax1_1 = 1;
                }else if(washing1.value =="精緻洗"){
                    document.getElementById("wash_1").innerHTML = "50 分鐘 5 元 0 點數 2 碳排";
                    price1_1 = 5;
                    point1_1 = 0;
                    tax1_1 = 2;
                }else if(washing1.value =="柔洗"){
                    document.getElementById("wash_1").innerHTML = "50 分鐘 5 元 0 點數 2 碳排";
                    price1_1 = 5;
                    point1_1 = 0;
                    tax1_1 = 2;
                }else if(washing1.value =="快洗"){
                    document.getElementById("wash_1").innerHTML = "20 分鐘 0 元 5 點數 2 碳排";
                    price1_1 = 0;
                    point1_1 = 5;
                    tax1_1 = 2;
                }
                document.getElementById("total1").innerHTML = "&emsp;總金額：" + ((price1_1 + price1_2 + price1_3 + bag_1*50)+(tax1_1 + tax1_2 + tax1_3)*3) + "(含碳稅：" + (tax1_1 + tax1_2 + tax1_3)*3 + ") 總點數：" + (point1_1 + point1_2 + point1_3 + 20*bag_1);
            }
    function wash2(){
                if(washing2.value =="標準"){
                    document.getElementById("wash_2").innerHTML = "30 分鐘 0 元 5 點數 1 碳排";
                    price2_1 = 0;
                    point2_1 = 5;
                    tax2_1 = 1;
                }else if(washing2.value =="精緻洗"){
                    document.getElementById("wash_2").innerHTML = "50 分鐘 5 元 0 點數 2 碳排";
                    price2_1 = 5;
                    point2_1 = 0;
                    tax2_1 = 2;
                }else if(washing2.value =="柔洗"){
                    document.getElementById("wash_2").innerHTML = "50 分鐘 5 元 0 點數 2 碳排";
                    price2_1 = 5;
                    point2_1 = 0;
                    tax2_1 = 2;
                }else if(washing2.value =="快洗"){
                    document.getElementById("wash_2").innerHTML = "20 分鐘 0 元 5 點數 2 碳排";
                    price2_1 = 0;
                    point2_1 = 5;
                    tax2_1 = 2;
                }
                document.getElementById("total2").innerHTML = "&emsp;總金額：" + ((price2_1 + price2_2 + price2_3 + bag_1*50)+(tax2_1 + tax2_2 + tax2_3)*3) + "(含碳稅：" + (tax2_1 + tax2_2 + tax2_3)*3 + ") 總點數：" + (point2_1 + point2_2 + point2_3 + 20*bag_1);
            }

     function wash3(){
                if(washing3.value =="標準"){
                    document.getElementById("wash_3").innerHTML = "30 分鐘 0 元 5 點數 1 碳排";
                    price3_1 = 0;
                    point3_1 = 5;
                    tax3_1 = 1;
                }else if(washing3.value =="精緻洗"){
                    document.getElementById("wash_3").innerHTML = "50 分鐘 5 元 0 點數 2 碳排";
                    price3_1 = 5;
                    point3_1 = 0;
                    tax3_1 = 2;
                }else if(washing3.value =="柔洗"){
                    document.getElementById("wash_3").innerHTML = "50 分鐘 5 元 0 點數 2 碳排";
                    price3_1 = 5;
                    point3_1 = 0;
                    tax3_1 = 2;
                }else if(washing3.value =="快洗"){
                    document.getElementById("wash_3").innerHTML = "20 分鐘 0 元 5 點數 2 碳排";
                    price3_1 = 0;
                    point3_1 = 5;
                    tax3_1 = 2;
                }
                document.getElementById("total3").innerHTML = "&emsp;總金額：" + ((price3_1 + price3_2 + price3_3 + bag_1*50)+(tax3_1 + tax3_2 + tax3_3)*3) + "(含碳稅：" + (tax3_1 + tax3_2 + tax3_3)*3 + ") 總點數：" + (point3_1 + point3_2 + point3_3 + 20*bag_1);
            }
    function dry1(){
                if(drying1.value =="日曬"){
                    document.getElementById("dry_1").innerHTML = "1440 分鐘 0 元 5 點數 0 碳排";
                    price1_2 = 0;
                    point1_2 = 5;
                    tax1_2 = 0;
                }else if(drying1.value =="低溫烘乾"){
                    document.getElementById("dry_1").innerHTML = "180 分鐘 5 元 0 點數 3 碳排";
                    price1_2 = 5;
                    point1_2 = 0;
                    tax1_2 = 3;
                }else if(drying1.value =="中溫烘乾"){
                    document.getElementById("dry_1").innerHTML = "120 分鐘 5 元 0 點數 3 碳排";
                    price1_2 = 5;
                    point1_2 = 0;
                    tax1_2 = 3;
                }else if(drying1.value =="高溫烘乾"){
                    document.getElementById("dry_1").innerHTML = "60 分鐘 5 元 0 點數 3 碳排";
                    price1_2 = 5;
                    point1_2 = 0;
                    tax1_2 = 3;
                }
                document.getElementById("total1").innerHTML = "&emsp;總金額：" + ((price1_1 + price1_2 + price1_3 + bag_1*50)+(tax1_1 + tax1_2 + tax1_3)*3) + "(含碳稅：" + (tax1_1 + tax1_2 + tax1_3)*3 + ") 總點數：" + (point1_1 + point1_2 + point1_3 + 20*bag_1);
            }
    function dry2(){
                if(drying2.value =="日曬"){
                    document.getElementById("dry_2").innerHTML = "1440 分鐘 0 元 5 點數 1 碳排";
                    price2_2 = 0;
                    point2_2 = 5;
                    tax2_2 = 1;
                }else if(drying2.value =="低溫烘乾"){
                    document.getElementById("dry_2").innerHTML = "180 分鐘 5 元 0 點數 3 碳排";
                    price2_2 = 5;
                    point2_2 = 0;
                    tax2_2 = 3;
                }else if(drying2.value =="中溫烘乾"){
                    document.getElementById("dry_2").innerHTML = "120 分鐘 5 元 0 點數 3 碳排";
                    price2_2 = 5;
                    point2_2 = 0;
                    tax2_2 = 3;
                }else if(drying2.value =="高溫烘乾"){
                    document.getElementById("dry_2").innerHTML = "60 分鐘 5 元 0 點數 3 碳排";
                    price2_2 = 5;
                    point2_2 = 0;
                    tax2_2 = 3;
                }
                document.getElementById("total2").innerHTML = "&emsp;總金額：" + ((price2_1 + price2_2 + price2_3 + bag_1*50)+(tax2_1 + tax2_2 + tax2_3)*3) + "(含碳稅：" + (tax2_1 + tax2_2 + tax2_3)*3 + ") 總點數：" + (point2_1 + point2_2 + point2_3 + 20*bag_1);
            }

     function dry3(){
                if(drying3.value =="日曬"){
                    document.getElementById("dry_3").innerHTML = "1440 分鐘 0 元 5 點數 1 碳排";
                    price3_2 = 0;
                    point3_2 = 5;
                    tax3_2 = 1;
                }else if(drying3.value =="低溫烘乾"){
                    document.getElementById("dry_3").innerHTML = "180 分鐘 5 元 0 點數 3 碳排";
                    price3_2 = 5;
                    point3_2 = 0;
                    tax3_2 = 3;
                }else if(drying3.value =="中溫烘乾"){
                    document.getElementById("dry_3").innerHTML = "120 分鐘 5 元 0 點數 3 碳排";
                    price3_2 = 5;
                    point3_2 = 0;
                    tax3_2 = 3;
                }else if(drying3.value =="高溫烘乾"){
                    document.getElementById("dry_3").innerHTML = "60 分鐘 5 元 0 點數 3 碳排";
                    price3_2 = 5;
                    point3_2 = 0;
                    tax3_2 = 3;
                }
                document.getElementById("total3").innerHTML = "&emsp;總金額：" + ((price3_1 + price3_2 + price3_3 + bag_1*50)+(tax3_1 + tax3_2 + tax3_3)*3) + "(含碳稅：" + (tax3_1 + tax3_2 + tax3_3)*3 + ") 總點數：" + (point3_1 + point3_2 + point3_3 + 20*bag_1);
            }

     function sto1(){
                if(store1.value =="不折"){
                    document.getElementById("store_1").innerHTML = "0 分鐘 0 元 5 點數 0 碳排";
                    price1_3 = 0;
                    point1_3 = 5;
                    tax1_3 = 0;
                }else if(store1.value =="機器人"){
                    document.getElementById("store_1").innerHTML = "20 分鐘 5 元 0 點數 1 碳排";
                    price1_3 = 5;
                    point1_3 = 0;
                    tax1_3 = 1;
                }
                document.getElementById("total1").innerHTML = "&emsp;總金額：" + ((price1_1 + price1_2 + price1_3 + bag_1*50)+(tax1_1 + tax1_2 + tax1_3)*3) + "(含碳稅：" + (tax1_1 + tax1_2 + tax1_3)*3 + ") 總點數：" + (point1_1 + point1_2 + point1_3 + 20*bag_1);
            }

    function sto2(){
                if(store2.value =="不折"){
                    document.getElementById("store_2").innerHTML = "0 分鐘 0 元 5 點數 0 碳排";
                    price2_3 = 0;
                    point2_3 = 5;
                    tax2_3 = 0;
                }else if(store2.value =="機器人"){
                    document.getElementById("store_2").innerHTML = "20 分鐘 5 元 0 點數 1 碳排";
                    price2_3 = 5;
                    point2_3 = 0;
                    tax2_3 = 1;
                }
                document.getElementById("total2").innerHTML = "&emsp;總金額：" + ((price2_1 + price2_2 + price2_3 + bag_1*50)+(tax2_1 + tax2_2 + tax2_3)*3) + "(含碳稅：" + (tax2_1 + tax2_2 + tax2_3)*3 + ") 總點數：" + (point2_1 + point2_2 + point2_3 + 20*bag_1);
            }

    function sto3(){
                if(store3.value =="不折"){
                    document.getElementById("store_3").innerHTML = "0 分鐘 0 元 5 點數 0 碳排";
                    price3_3 = 0;
                    point3_3 = 5;
                    tax3_3 = 0;
                }else if(store3.value =="機器人"){
                    document.getElementById("store_3").innerHTML = "20 分鐘 5 元 0 點數 1 碳排";
                    price3_3 = 5;
                    point3_3 = 0;
                    tax3_3 = 1;
                }
                document.getElementById("total3").innerHTML = "&emsp;總金額：" + ((price3_1 + price3_2 + price3_3 + bag_1*50)+(tax3_1 + tax3_2 + tax3_3)*3) + "(含碳稅：" + (tax3_1 + tax3_2 + tax3_3)*3 + ") 總點數：" + (point3_1 + point3_2 + point3_3 + 20*bag_1);
            }
    
    function bagamount1(){
        bag_1 =bag_1+1;
        document.getElementById("bagamount").value =bag_1;
        document.getElementById("total1").innerHTML = "&emsp;總金額：" + ((price1_1 + price1_2 + price1_3 + bag_1*50)+(tax1_1 + tax1_2 + tax1_3)*3) + "(含碳稅：" + (tax1_1 + tax1_2 + tax1_3)*3 + ") 總點數：" + (point1_1 + point1_2 + point1_3 + 20*bag_1);
        document.getElementById("total2").innerHTML = "&emsp;總金額：" + ((price2_1 + price2_2 + price2_3 + bag_1*50)+(tax2_1 + tax2_2 + tax2_3)*3) + "(含碳稅：" + (tax2_1 + tax2_2 + tax2_3)*3 + ") 總點數：" + (point2_1 + point2_2 + point2_3 + 20*bag_1);
        document.getElementById("total3").innerHTML = "&emsp;總金額：" + ((price3_1 + price3_2 + price3_3 + bag_1*50)+(tax3_1 + tax3_2 + tax3_3)*3) + "(含碳稅：" + (tax3_1 + tax3_2 + tax3_3)*3 + ") 總點數：" + (point3_1 + point3_2 + point3_3 + 20*bag_1);
    }
    function bagamount2(){
        if(document.getElementById("bagamount").value >= 2){
        bag_1 =bag_1-1;
        document.getElementById("bagamount").value =bag_1;
        document.getElementById("total1").innerHTML = "&emsp;總金額：" + ((price1_1 + price1_2 + price1_3 + bag_1*50)+(tax1_1 + tax1_2 + tax1_3)*3) + "(含碳稅：" + (tax1_1 + tax1_2 + tax1_3)*3 + ") 總點數：" + (point1_1 + point1_2 + point1_3 + 20*bag_1);
        document.getElementById("total2").innerHTML = "&emsp;總金額：" + ((price2_1 + price2_2 + price2_3 + bag_1*50)+(tax2_1 + tax2_2 + tax2_3)*3) + "(含碳稅：" + (tax2_1 + tax2_2 + tax2_3)*3 + ") 總點數：" + (point2_1 + point2_2 + point2_3 + 20*bag_1);
        document.getElementById("total3").innerHTML = "&emsp;總金額：" + ((price3_1 + price3_2 + price3_3 + bag_1*50)+(tax3_1 + tax3_2 + tax3_3)*3) + "(含碳稅：" + (tax3_1 + tax3_2 + tax3_3)*3 + ") 總點數：" + (point3_1 + point3_2 + point3_3 + 20*bag_1);
        }
         }

    </script>
<footer class="bglight fontdark">
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>