<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>wash</title>
    <link href="{% static "css/nadd.css" %}" rel="stylesheet">
    <link href="{% static "css/nwash3.css" %}" rel="stylesheet">
    {% if mycolor == 0 %}
    <link href="{% static "css/theme.css" %}" rel="stylesheet">
    {% elif mycolor == 1 %}
    <link href="{% static "css/theme2.css" %}" rel="stylesheet">
    {%else%}
    <link href="{% static "css/theme3.css" %}" rel="stylesheet">
    {% endif %}
</head>

<body class="bgdark">

    <table class="manu bglight">
        <tr>
            <td><img class="logo" src="{% static "images/logo2.png" %}"></td>
            <td><a href="{% url 'member' %}"><div class="mem bgdark fontlight">會員</div></a></td>
            <td><a href="{% url 'logout' %}"><div class="mem bgdark fontlight">登出</div></a></td>
        </tr>
    </table>
    </table>
    <form method="post" target="_self" action="{% url 'wash4' %}">
        {% csrf_token %}
        <table class="content blight bglight">
            <tr class="tr1">
                <td class="td3">
                    <div>
                        <a href="{% url 'index' %}" class="back fontlight bgdark">
                            <返回 </a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="div1 fontlight bgdark">
                        預定領取時間<br><br>
                        日期
                        <input name="day" type="date" class="num" id="date1" required="required"><br><br>
                        時間
                        <input name="time" type="time" class="num" id="time1" required="required"><br><br>
                        <input type="text" id="text1" value="{{way}}" hidden><br>
                        <input type="text" id="time2" value="{{totaltime}}" hidden><br>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <table class="ta3 fontlight bgdark">
                        <tr class="div2 fontlight">
                            <td colspan="2">
                                服務條款
                            </td>
                        </tr>
                        <tr class="div3 fontlight">
                            <td colspan="2">
                                來拿衣服,不然燒掉
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" required="required">同意
                            </td>
                        </tr>
                        <tr>
                            <td class="td1" colspan="3">
                                <input type="button" class="next fontdark bglight" onclick="history.back();" value="上一步"> </a>
                                <input type="submit" class="confirm fontdark bglight" value="下一步"  onclick="dat()">
                            </td>
                        </tr>
                    </table>
            </tr>
        </table>
    </form>
    </td>
    <script>
        var datetime1 =  new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000).toISOString().split("T")[0];
        var datetime2 = new Date(new Date().getTime() - new Date().getTimezoneOffset()* 60000 * 1.625).toISOString().slice(11).slice(0, -8);
        if(document.getElementById('text1').value == "自取"){
            document.getElementById('date1').value =  datetime1;
            document.getElementById('date1').min =  datetime1;
            document.getElementById('time1').value = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000 * 1.625).toISOString().slice(11).slice(0, -8);
            if(document.getElementById('date1').value == datetime1){
                document.getElementById('time1').min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000 * 1.625).toISOString().slice(11).slice(0, -8);
            }else{
                document.getElementById('time1').min = datetime2;
            }
            function dat(){
            if(document.getElementById('date1').value == datetime1){
                document.getElementById('time1').min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000 * 1.625).toISOString().slice(11).slice(0, -8);
                if(document.getElementById('time1').value <datetime2){
                    document.getElementById('time1').setCustomValidity('自取不能少於五小時');
                }else{
                    document.getElementById('time1').setCustomValidity('');

                }
            }else{
                document.getElementById('time1').min = "";
                document.getElementById('time1').setCustomValidity('');
            }
        }
        }else{
            document.getElementById('date1').value =  datetime1;
            document.getElementById('date1').min =  datetime1;
            document.getElementById('time1').value = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000 * 2).toISOString().slice(11).slice(0, -8);
            if(document.getElementById('date1').value == datetime1){
                document.getElementById('time1').min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000 * 2).toISOString().slice(11).slice(0, -8);
            }else{
                document.getElementById('time1').min = datetime2;
            }
            function dat(){
                if(document.getElementById('date1').value == datetime1){
                    document.getElementById('time1').min = new Date(new Date().getTime() - new Date().getTimezoneOffset() * 60000 * 2).toISOString().slice(11).slice(0, -8);
                    if(document.getElementById('time1').value <datetime2){
                        document.getElementById('time1').setCustomValidity('外送不能少於八小時');
                    }else{
                        document.getElementById('time1').setCustomValidity('');

                    }
            }else{
            document.getElementById('time1').min = "";
            document.getElementById('time1').setCustomValidity('');
            }
            }
        }
        

    </script>
</body>
<footer class="bglight fontdark">
    <div class=" ml6 ">
    <span class="text-wrapper">
        <span class="letters">Copyright@2022 By AIwash Rights Reseved</span>
      </span></div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

<script>


var textWrapper = document.querySelector('.ml6 .letters');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

anime.timeline({loop: true})
  .add({
    targets: '.ml6 .letter',
    translateY: ["1.1em", 0],
    translateZ: 0,
    duration: 750,
    delay: (el, i) => 50 * i
  }).add({
    targets: '.ml6',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 3000
  });
</script>

</html>