<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>wash</title>
    <link href="{% static "css/add.css" %}" rel="stylesheet">
    <link href="{% static "css/wash1.css" %}" rel="stylesheet">
</head>



<body>

    <table class="ta1">
        <tr>
            <td><img class ="logo" src="{% static "images/logo.jpg" %}"></td>
            <td><a href="{% url 'member' %}"><div class ="log_in">會員</div></a></td>
        </tr>
    </table>

    <table class="ta2" >
        <tr class="tr1">
            <td class="td3"><div><a href="{% url 'index' %}"  class="back"><返回首頁</a></div></td>
        </tr>
        <tr>
            <td>
                <form  method="post" target="_self" action="{% url 'wash2' %}" id="form1"> 
                    {% csrf_token %}
                    <table class="ta3" >
                        <tr>
                            <td class="text1">
                                選擇送洗/回方式
                            </td>
                        </tr>
                        <tr class="tr1">
                            <td class="t3">
                               <input type="radio" name="r1" id="r1_1" value="1"checked>自取
                            </td>
                        </tr>
                        <tr>
                            <td class="t3">
                                <input type="radio" name="r1" id="r1_2">外送
                            </td>
                        </tr>
                        <tr>
                            <td  colspan="2">
                                <div id="w1" style="display:block;" class="t3">
                                    地址
                                    <input type="text" required="required" id="address">
                                </div>
                               
                            </td>
                        </tr>
                        <tr>
                            <td class="td1"   colspan="2">
                            <input type="submit" class="confirm" value="下一步">
                            </td>
                        </tr>
                   
                    </table>
                </form>
            </td>
        </tr>
        
    </table>

</body>
<script>
  </script>
<footer >
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>