<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>wash</title>
    <link href="{% static "css/add.css" %}" rel="stylesheet">
    <link href="{% static "css/wash3.css" %}" rel="stylesheet">
</head>

<script>
    var date = new Date();
  document.getElementById('date1').value = date;
</script>

<body>

    <table class="ta1">
        <tr>
            <td><img class ="logo" src="{% static "images/logo.jpg" %}"></td>
            <td><a href="{% url 'member' %}"><div class ="log_in">會員</div></a></td>
        </tr>
    </table>
    <form  method="post"  target="_self" action="{% url 'wash4' %}">
        {% csrf_token %}
    <table class="ta2" >
        <tr class="tr1">
            <td class="td3"><div><a href="{% url 'index' %}"  class="back"><返回首頁</a></div></td>
        </tr>

        <tr>
            <td>
                <div class="div1">
                    預定頂取時間<br><br>
                    日期
                    <input type="date" class="num"><br><br>
                                        時間
                    <input type="time" class="num">

                </div>
                
            </td>
        </tr>

        <tr>
            <td>
                
                    <table class="ta3" >
                        <tr class="div2">
                            <td colspan="2">
                            服務條款
                            </td>
                        </tr>
                        <tr  class="div3">
                            <td  colspan="2">
                                來拿衣服,不然燒掉
                            </td>
                        </tr>
                        <tr>
                            <td >
                            <input type="checkbox" required="required">同意
                            </td>
                        </tr>
                        <tr>
                            <td class="td1"   colspan="3">
                                <input type="button" class="next" onclick="history.back();" value="上一步"> </a>
                                <input type="submit" class="confirm" value="下一步">
                            </td>
                        </tr>                 
                    </table>
        </tr>  
    </table>
</form>
</td>
</body>

<footer >
    Copyright@2022 By AIwash Rights Reseved
</footer>
</html>