body {
    background-color: #343837;
    padding: 0;
    margin: 0;
}

.manu {
    width: 100%;
    background-color: #c7fffc;
    margin-bottom: 1%;
}

.mem {
    color: #c7fffc;
    background-color: #343837;
    border-radius: 10px;
    margin-top: 30%;
    width: 50%;
    margin-left: 20%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.logo {
    width: 20%;
}

footer {
    text-align: center;
    background-color: #c7fffc;
    height: 5vh;
    width: 100%;
    line-height: 5vh;
    position: fixed;
    top: 99%;
    margin-top: -25px;
    color:#454b4a;
}
a{
    text-decoration: none;
    margin: auto;
}
@media screen and (max-width: 768px) {
    .logo {
        width: 50%;
    }

    .mem {
        margin-top: 80%;
        margin-left: -25%;
        width: 120%;
        font-size: 20px;
    }

    .manu {
        margin-bottom: 3%;
    }
}