
.tr1 {
    text-align: start;
    height: 10%;
    font-weight: bolder;
}

.back {
    width: 10vh;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    font-weight: bold;
    font-size: 20px;
    margin-left: 2%;
    border-style: solid;
    border-width: 2px;
    padding: 2%;
}

@media screen and (max-width: 768px) {

    .content {
        margin-top: 10%;
    }
}