
.content {
    display: flex;
    justify-content: center;
}

.td1 {
    display: flex;
    justify-content: space-around;
    margin: 2% 0%;
    width: 90%;
    height:160vh;
    border-radius: 10px;
}

.img {
    width: 200px;
    height: 200px;
    margin: 2% 3%;
}

.text2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.text3 {
    width: 100%;
}

.text4 {
    width: 10vh;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    font-weight: bold;
    font-size: 20px;
    margin-left: 2%;
}


@media screen and (max-width: 768px) {

    .ta1 {
        margin-bottom: 3%;
    }

    #img {
        margin-top: 10%;
    }

    .img {
        width: 120px;
        height: 120px;
        display: block;
        margin: 10% auto;
    }

}