
    .content {
        display: flex;
        justify-content: center;
    }

    .td1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5% 0% 15% 0%;
    }

    .text1 {
        text-align: center;
        margin: 5% auto ;
        width: 90%;
    }

    .text4 {
        margin: 2% auto 2% 12%;
        width: 10vh;
        height: 5vh;
        text-align: center;
        line-height: 5vh;
        font-weight: bold;
        font-size: 20px;
    }

    .text3 {
        width: 10vh;
        height: 5vh;
    }

    .ta3 {
        font-weight: bold;
        font-size: 35px;
        margin: 2% auto;
    }

    .td2 {
        border-bottom: #c7fffc 2px solid;
        width: 200vh;
    }

    .td21 {
        border-bottom: #c7fffc 0px;
    }

    .td22 {
        border-right: #c7fffc 2px solid;
    }

    .td23 {
        text-align: right;
    }

    .car {
        width: 50%;
    }
    @media screen and (max-width: 768px) {
        .ta1 {
            margin-bottom: 3%;
        }

        .td1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 5% 0% 15% 0%;}


        .ta3 {
            font-size: 20px;
        }

        .car {
            width: 90%;
        }

    }