    footer {
        position: relative;
    }

    .content {
        display: flex;
        justify-content: center;
    }

    .td1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5% 0% 15% 0%;
        border: #c7fffc 2px solid;
        background-color: #c7fffc;
        color: azure;
    }

    .text1 {
        text-align: center;
        border: #c7fffc 10px solid;
        background-color: #343837;
        color: black;
        margin: auto auto 1%;
        width: 90%;
    }

    .text4 {
        margin: 2% auto 2% 12%;
        width: 10vh;
        height: 5vh;
        text-align: center;
        line-height: 5vh;
        font-weight: bold;
        font-size: 20px;
        border: #e8fefd 2px solid;
        color: #e8fefd;
        background-color: #343837;
    }

    .text3 {
        width: 10vh;
        height: 5vh;
    }

    .ta3 {
        font-weight: bold;
        font-size: 35px;
        color: #c7fffc;
        margin: 2% auto;
    }

    .td2 {
        border-bottom: #c7fffc 2px solid;
        width: 200vh;
    }

    .td21 {
        border-bottom: #c7fffc 0px;
    }

    .td22 {
        border-right: #c7fffc 2px solid;
    }

    .td23 {
        text-align: right;
    }

    .car {
        width: 50%;
    }

    a{
        color: #c7fffc;
    }

    @media screen and (max-width: 768px) {
        .ta1 {
            margin-bottom: 3%;
        }

        .td1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 5% 0% 15% 0%;}

        .text1 {
            margin: 0% auto;

        }

        .ta3 {
            font-size: 20px;
        }

        .car {
            width: 90%;
        }

    }