

.ta3{
    margin: auto;
    background-color: #343837;
    width: 50%;
    border:10px solid #343837;
    border-radius: 15px;
    margin-bottom: 2%;
    height: 40vh;
}

.tr1{
    text-align:start;
    height: 10%;    
    font-weight: bolder;
}

.back{
    color: #343837;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    
}

.return{
    text-align: center;
    color: #c7fffc;
    font-size: 38px;
    font-weight: bold;
}

.type{
    text-align: center;
    color: #c7fffc;
    font-weight: bold;
}

.confirm{
    margin: auto;
    text-align: center;
    font-size: 20px;
    background-color: #c7fffc;
    border-radius: 10px;
    color: #343837;
    font-weight: bold;
    border: 0ch;
    width: 80%;
}



@media screen and (max-width: 768px)
{

    .content{
        margin-top: 10%;
    }

    .ta3{
        
        width: 80%;
        height: 50vh;
    }
    

    .back{
        font-size: 20px;
    }
    
}
