.content{
    display: flex;
    justify-content: center;
}
.td1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5% 0% 15% 0%;
    width: 80%;
    border-radius: 10px;
}
.btn{
    display: flex;
    justify-content: space-around;
}
.text1{
    margin: 2% auto;
    width: 80% ;
}

.text2{
    width: 40vh;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-weight: bold;
    font-size: 20px;
    border-width: 2px;
    border-style:solid ;
    margin: 2% auto;
    border-radius: 10px;
}
.text3{
    width: 15vh;
    height: 10vh;
    text-align: center;
    line-height: 10vh;
    font-weight: bold;
    font-size: 20px;
}
.text4{
    margin: 2% auto 2% 12%;
    width: 10vh;
    height: 5vh;
    text-align: center;
    line-height: 5vh;
    font-weight: bold;
    font-size: 20px;
    border-width: 2px;
    border-style:solid ;
    border-radius: 10px;
}
.ta3{
    font-weight: bold;
    font-size: 20px;
    margin: 2% auto;
}
.td2{
    padding-left: 7%;
    border-bottom:#c7fffc 2px solid;
    width: 200vh;
}
.td21{
    border-bottom: #c7fffc 0px;
}

@media screen and (max-width: 768px)
{
    .ta1{
        margin-bottom: 3%;
    }
    .btn{
        justify-content: center;
        margin: 5% auto;
    }
    .text1{
        margin: 0% auto;
        height: auto;
    }
    .text2{
        margin: auto;
        width: 15vh;
        height: 10vh;
        font-size: 20px;
    }
    
    .ta3{
        font-size: 20px;
    }
    
}