
.td2{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1%;
    padding-top: 1%;
    
}
.td3{
    width: 10%;
    
}
.tr2{
    width: 100%;
    margin: auto;
    text-align: center;
}
.washimg{
    width: 100%;
    height:230%;
}

.tr1{
    border:0px;
}

.back{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
}

.video1{
    float: left;
    text-align: center;
    width: 100%;
    font-weight: bold;
}
.video2{
    float: right;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

@media screen and (max-width: 768px)
{

    .td3{
        width: 20%;
    }

    .back{
        font-size: 20px;
    }

    .video1{
        float: none;
        text-align: center;
        margin: 3% auto ;
    }
    .video2{
        float: none;
        text-align: center;
        margin: 3% auto ;
    }

}