hr{
    width: 90%;
    border:1px solid #c7fffc;
}


.ta3{
    margin: auto;
    width: 50%;
    border-width: 10px;
    border-style: solid;
    border-radius: 15px;
    margin-bottom: 2%;
    text-align: center;
}

.td1{
    text-align: center;
    width: 50%;
    margin-top: 1%;
}

.div1{
    margin:auto;
    text-align: center;
    width: 75%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 2%;
}

.div2{
    font-size: 14px;
    text-align: left;
}

.p1{
    margin-left: 3%;
    font-size: 12px;
    text-align: left;
}

.p2{
    margin-left: 2%;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-top: -8%;
    padding-bottom:5%;
    
}

.tr1{
    text-align:start;
    height: 10%;    
    font-weight: bolder;
}

.back{
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    
}


.next{
    font-size: 18px;
    font-weight: bolder;
    border-radius: 10px;
    padding: 3% 10%;
    margin: auto;
    border: 0px;
    width: 45%;
}


.confirm{
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    border: 0ch;
    width: 45%;
    height: 5.5vh;
    margin-bottom: -20%;
}

@media screen and (max-width: 768px)
{

    .content{
        margin-top: 1%;
        height: 70vh;
    }

    .ta3{       
        width: 80%;
        height: 40vh;
    }

    .back{
        font-size: 20px;
    }

}