

.ta3{
    margin: auto;
    background-color: #343837;
    width: 50%;
    border:10px solid #343837;
    border-radius: 15px;
    margin-bottom: 2%;
    height: 40vh;
    color: #c7fffc;
}

.td1{
    text-align: center;
    width: 50%;
}

.div1{
    margin:auto;
    text-align: center;
    background-color: #343837;
    width: 75%;
    border-radius: 5px;
    color: #c7fffc;
    font-weight: bold;
    font-size: 18px;
    height: 20vh;
    margin-top: 1%;
}

.div2{
    color: #c7fffc;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.div3{
    color: #c7fffc;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.tr1{
    text-align:start;
    height: 10%;    
    font-weight: bolder;
}

.back{
    color: #343837;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    
}

.next{
    font-size: 18px;
    color: #343837;
    font-weight: bolder;
    background-color: #c7fffc;
    border-radius: 10px;
    padding: 3% 10%;
    margin: auto;
    border: 0px;
    width: 45%;
}


.confirm{
    font-size: 16px;
    background-color: #c7fffc;
    border-radius: 10px;
    color: #343837;
    font-weight: bold;
    border: 0ch;
    width: 45%;
    height: 5.5vh;
    margin-bottom: -20%;
}



@media screen and (max-width: 768px)
{

    .content{
        margin-top: 10%;
        height: 70vh;
    }

    .ta3{
        
        width: 80%;
        height: 40vh;
    }

    .back{
        font-size: 20px;
    }

    
}