
.ta2{
    margin: auto;
    background-color: #c7fffc;
    width: 80%;
    border:10px solid #c7fffc;
    border-radius: 10px;
    margin-bottom: 15%;
    margin-top: 1%;
}

.ta3{
    margin: auto;
    background-color: #343837;
    width: 50%;
    border:10px solid #343837;
    border-radius: 15px;
    margin-bottom: 2%;
    height: 40vh;
}

.td1{
    text-align: center;

}

.tr1{
    text-align:start;
    height: 10%;    
    font-weight: bolder;
}

.back{
    color: #343837;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
    
}

.t1{
    text-align: center;
    color: #343837;
    font-size: 20px;
}

.t2{
    color: #343837;
    text-align: center;
    background-color: #c7fffc;
    font-size: 20px;
}

.t3{
    text-align: center;
    color: #c7fffc;
    font-weight: bold;
    font-size: 18px;
}

.next{
    font-size: 18px;
    color: #c7fffc;
    font-weight: bolder;
    border-radius: 10px;
    width: 50%;
    padding: 5% 10%;
}

.text1{
    color: #c7fffc;
    font-size: 22px;
    font-weight: bolder;
    text-align: center;
}


.confirm{
    font-size: 16px;
    background-color: #c7fffc;
    border-radius: 10px;
    color: #454b4a;
    font-weight: bold;
    border: 0ch;
    width: 50%;
    margin-bottom: -20%;
}

@media screen and (max-width: 768px)
{

    .ta2{
        margin-top: 10%;
    }

    .ta3{
        
        width: 80%;
        height: 50vh;
    }
    

    .back{
        font-size: 20px;
    }

    
}