
.ta2{
    margin: auto;
    background-color: #c7fffc;
    width: 80%;
    border:10px solid #c7fffc;
    border-radius: 10px;
    margin-bottom: 15%;
    margin-top: 1%;
}

.ta3{
    margin: auto;
    background-color: #343837;
    width: 50%;
    border:10px solid #343837;
    border-radius: 15px;
    margin-bottom: 2%;
    height: 50vh;
}

.td1{
    position: absolute;
    margin: 7% 4%;
    width: 50%;
}

.div1{
    margin:auto;
    text-align: center;
    background-color: #343837;
    width: 75%;
    border-radius: 5px;
    color: #c7fffc;
    font-weight: bold;
    font-size: 18px;
    height: 5vh;
}

.div2{
    font-size: 12px;
    margin: auto;}

.tr1{
    text-align:start;
    height: 10%;    
    font-weight: bolder;
}

.tr2{
    position: absolute;
    margin: auto;
    margin-left:-3% ;
}

.back{
    color: #343837;
    font-weight: bold;
    font-size: 30px;
    border-radius: 10px;
}

.t1{
    text-align: center;
    color: #c7fffc;
    font-size: 20px;
}

.t2{
    color: #343837;
    text-align: center;
    background-color: #c7fffc;
    font-size: 20px;
}

.t3{
    text-align: center;
    color: #c7fffc;
    font-weight: bold;
    font-size: 18px;
    margin-top: -3%;
}

.num{
    width: 30%;
}


.next{
    font-size: 18px;
    color: #343837;
    font-weight: bolder;
    background-color: #c7fffc;
    border-radius: 10px;
    padding: 3% 10%;
    margin: auto;
    border: 0px;
    width: 45%;
}


.confirm{
    font-size: 16px;
    background-color: #c7fffc;
    border-radius: 10px;
    color: #343837;
    font-weight: bold;
    border: 0ch;
    width: 45%;
    height: 5.5vh;
    margin-bottom: -20%;
}

.total{
    font-size: 10px;
}

@media screen and (max-width: 768px)
{

    .ta2{
        margin-top: 10%;
    }

    .ta3{
        
        width: 80%;
        height: 55vh;
    }
    
    .td1{
        position: absolute;
        margin: 30% 2%;
        width: 50%;
    }

    .back{
        font-size: 20px;
    }

    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}