.bglight{
    background-color: #ffecec;
}
.bgdark{
    background-color: #a5220e;
}
.fontlight{
    color: #ffecec;
}
.fontdark{
    color:#a5220e;
}
.blight{
    border-color:#ffecec;

}
.bdark{
    border-color:#a5220e;
}
.logo {
    width: 60%;
    animation: color linear forwards;
    transform: translateX(-100%);
    filter: drop-shadow(170px 0 #a5220e);
}
@keyframes color {
    0% {
        filter: drop-shadow(0 0 #a5220e);
    }
    100% {
        filter: drop-shadow(170px 0 #a5220e);
    }
}
a:visited{
    color:#ffecec;

}