.bglight{
    background-color: #cceab0;
}
.bgdark{
    background-color: #cda61a;
}
.fontlight{
    color: #cceab0;
}
.fontdark{
    color:#cda61a;
}
.blight{
    border-color:#cceab0;

}
.bdark{
    border-color:#cda61a;
}