.bglight{
    background-color: #c7fffc;
}
.bgdark{
    background-color: #343837;
}
.fontlight{
    color: #c7fffc;
}
.fontdark{
    color:#454b4a;
}
.blight{
    border-color:#c7fffc;

}
.bdark{
    border-color:#454b4a;
}