.bglight{
    background-color: #ecad0f;
}
.bgdark{
    background-color: rgb(250, 241, 210);
}
.fontlight{
    color: #ecad0f;
}
.fontdark{
    color:rgb(250, 241, 210);
}
.blight{
    border-color:#ecad0f;

}
.bdark{
    border-color:rgb(250, 241, 210);
}
.logo {
    width: 60%;
    animation: color linear forwards;
    transform: translateX(-100%);
    filter: drop-shadow(170px 0 rgb(250, 241, 210));
}
@keyframes color {
    0% {
        filter: drop-shadow(0 0 rgb(250, 241, 210));
    }
    100% {
        filter: drop-shadow(170px 0 rgb(250, 241, 210));
    }
}
a:visited{
    color:#ecad0f;

}
a{
    color:#ecad0f;

}